<div class="hamburger-menu">
  <div class="hamburger-menu-item categories">
    <ion-icon name="menu-outline" class="navbar-item-icon text-white"></ion-icon>
    <span class="navbar-item-text text-white">Kategoriler</span>
  </div>
  <div class="hamburger-menu-item membership d-flex a-center">
    <ion-icon name="person" class="navbar-item-icon text-white"></ion-icon>
    <span class="navbar-item-text text-white">Üyelik</span>
  </div>
  <div class="hamburger-menu-item basket d-flex a-center">
    <ion-icon name="basket-outline" class="navbar-item-icon text-white"></ion-icon>
    <span class="navbar-item-text text-white">Sepetim</span>
  </div>
</div>