<header class="header">
  <div class="wrapper d-flex a-center j-between">
    <a href="http://www.starbucks.com">
      <img src="../assets/img/logo.png" class="logo" />
    </a>
    <div class="navbar-item categories">
      <ion-icon name="menu-outline" class="navbar-item-icon"></ion-icon>
      <span class="navbar-item-text">Kategoriler</span>
    </div>
    <div class="navbar-item search d-flex a-center">
      <ion-icon name="search-outline" class="search-icon navbar-item-icon"></ion-icon>
      <input name="search" id="input-search" class="input-search" placeholder="Ürün Ara">
    </div>
    <div class="navbar-item membership d-flex a-center">
      <span class="navbar-item-text">Üyelik</span>
      <ion-icon name="person" class="navbar-item-icon filled ml-10"></ion-icon>
    </div>
    <div class="navbar-item basket d-flex a-center p-relative">
      <span class="navbar-item-text">Sepetim</span>
      <ion-icon name="basket-outline" class="navbar-item-icon filled ml-10"></ion-icon>
      <div id="basket-count" class="basket-count"></div>
    </div>
    <div class="navbar-item hamburger-menu-icon">
      <span class="line first"></span>
      <span class="line second"></span>
      <span class="line third"></span>
    </div>
  </div>
</header>